p{
  color: #00539F;
  width: 500px;
  border: 1px solid black;
}

.quote{
	color:purple;
}

.p{
  border:none;
}

#mainquote{
	color:purple;
  font-weight: bold;
}

html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: placeholder: this should be the rest of the output you got from Google fonts
}

html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 200
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: inline-flex;
  width:100%;
  margin: 0 auto;
}

#apple-stock-chart {
  font: 10px sans-serif;
}

#apple-stock-chart .axis path,
#apple-stock-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#apple-stock-chart .x.axis path {
  display: none;
}

#apple-stock-chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#apple-stock-chart .overlay {
  fill: none;
  pointer-events: all;
}

#apple-stock0chart .focus circle {
  fill: none;
  stroke: steelblue;
}